@font-face {
  font-family: "Verdana";
  src: url(./assets/fonts/verdana-font-family/verdana.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
  color: var(--ColorTitre);
}

:root {
  --ColorTitre: #42585d;
  --ColorFoot: #ddad7c;
  --ColorFont: #dfdbda;
  --ColotrTexte: #899496;
  --ColoirErreur: red;
}

body {
  background: url(./assets/images/yourTwo.jfif) center/cover;
  min-height: 100vh;
  width: 100%;
}

.main {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--ColorTitre);
}

.iconAcceuil {
  position: absolute;
  top: 10px;
  left: 10px;
}

.container {
  border-radius: 16px;
  width: 700px;
  max-width: 100%;
  min-height: 500px;
  margin: 100px 0;
}

.form {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px 20px;
  align-items: center;
  background: white;
  border-radius: 0 0 20px 20px;
}

.form-control {
  display: contents;
}

.form-control label {
  justify-self: left;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.play-inline {
  display: block;
}

.play-inline input,
.play-inline i,
.play-inline small {
  display: inline-block;
  margin-bottom: 1px; /* Espace entre les éléments */
}

.play-inline input {
  width: 100%;
}

.caseOne {
  grid-column: 3 / 1;
  display: flex;
}

.caseOne input {
  margin-right: 10px; /* Espace entre la case et le label */
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
  border: 2px solid var(--ColorFoot);
  border-radius: 16px;
  padding: 5px 10px;
  width: 100%;
  height: 40px;
}

.button-container {
  grid-column: span 2; /* Prend toute la largeur de la grille */
  display: flex;
  justify-content: center;
}
.button-container4 {
  grid-column: span 2; /* Prend toute la largeur de la grille */
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.btn {
  color: var(--ColorTitre);
  background: var(--ColorFoot);
  height: 35px;
  width: 200px;
  border: 16px;
  font-size: 20px;
  border-radius: 16px;
}

.button-container .btn:hover {
  background-color: var(--ColotrTexte);
}

.header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  position: relative;
  border-radius: 20px 20px 0 0;
}

.erreu {
  visibility: hidden;
}

@media screen and (max-width: 470px) {
  .form {
    display: grid;
    gap: 0;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 20px 20px;
    /* grid-template-columns: 0; */
  }
  .header h1 {
    font-size: 1rem;
  }
  .header {
    border-radius: 20px 20px 0 0;
  }

  .main {
    min-height: 100vh;
    margin: 0 24px 0 24px;
  }
  .caseOne input {
    margin-right: 0;
  }

  .caseOne {
    grid-column: 3/1;
    gap: 10px;
  }

  .button-container4 {
    margin-top: 20px;
  }

  .btn3 {
    margin-top: 0;
  }
}
