@font-face {
  font-family: "Verdana";
  src: url(./assets/fonts/verdana-font-family/verdana.ttf);
  font-style: normal;
  font-weight: normal;
}
/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", Arial, sans-serif;
}

:root {
  --ColorTitre: #42585d;
  --ColorFoot: #ddad7c;
  --ColorFont: #dfdbda;
  --ColotrTexte: #899496;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
}

main {
  flex: 1; /* Prend tout l'espace restant dans la page */
  display: flex; /* Active Flexbox */
  flex-direction: column; /* Place les enfants en colonne */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  text-align: center; /* Centre le texte des enfants */
  gap: 20px; /* Espacement entre les éléments */
  padding: 20px 100px 20px 100px; /* Espacement intérieur */
  min-height: 70vh; /* Hauteur minimale de 70% de la fenêtre visible */
}

h1,
h2,
p {
  margin: 0; /* Supprime les marges par défaut */
  color: var(--ColorTitre);
}

h1 {
  font-size: 1.25rem;
}

p,
h2 {
  font-size: 1rem;
}

.button-container {
  display: flex; /* Utilise Flexbox pour les boutons */
  gap: 15px; /* Espacement entre les boutons */
}

.animated-button {
  padding: 10px 20px; /* Espacement intérieur */
  font-size: 16px; /* Taille du texte */
  background-color: var(--ColorFoot); /* Couleur de fond */
  color: var(--ColorTitre); /* Couleur du texte */
  border: none; /* Supprime les bordures */
  border-radius: 15px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur */
  transition: background-color 0.3s; /* Animation */
}

.animated-button:hover {
  background-color: var(--ColorTitre); /* Couleur au survol */
  color: var(--ColorFoot);
}

.foot {
  min-height: 90px;
  width: 100%;
  background: var(--ColorFoot);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  color: var(--ColorTitre);
}

/* Formater un texte */
main p {
  word-wrap: break-word; /* Casse les mots longs pour s'adapter à la largeur du conteneur */
  overflow-wrap: break-word; /* Support moderne pour casser les mots */
  hyphens: auto; /* Ajoute des traits d'union lors de la coupure (selon le navigateur) */
  white-space: normal; /* Permet le retour à la ligne normal */
  line-height: 1.5; /* Espacement entre les lignes pour une meilleure lisibilité */
  text-align: justify; /* Justifie le texte pour une présentation plus propre */
}
